.box1{
    box-shadow: 5px 10px #888888;
    border: 1px solid lightgray;
  }
  .box2{
      width: 50%;
      height: auto;
      margin: auto;
      display: flex;
  }
.column{
    flex: 50%;
    padding: 10px;
}
.bgcolor{
    padding: 20px;
    background-color: aliceblue;
}
.small-text{
    font-size: 15px;
    color: gray;
}
.red{
    color: red;
}
p{
    text-align: justify;
  text-justify: inter-word;
}
.container {
    position: relative;
  }
  
  .container .content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgba(69, 75, 73, 0.5);/* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 90%; /* Full width */
    padding: 20px; /* Some padding */
  }