<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="bgcolor">

  
  <div class="container">
  <div class="row box1">

      <div class="col-lg-4 col-sm-6 mb-4">
          <img class="column" style="flex:10%;height: 200px;padding-left: 20px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhWXm4Q-LvA-cMrfpaeiQ5fY5OKnoMPixUMFfo-ZZLpVeWCoAq" alt="Diamond ring">
      </div>
      <div class="col-md-4">
        <h3 class="my-3">Blog Template</h3>
        <p class="small-text">Posted 2 days ago</p>
        <p class="card-text">Our Blogger templates are a great way to get a stunning blog design in a snap! Our huge selection of ready-to-install designs are simple, stylish, and affordable. </p>
        <p> Category:<label class="red">Latest</label> </p>
      </div>
  
    </div>
  </div>

    <div class="container" style="padding-top:20px;">      
        <div class="row" >
          <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
                <h4 class="card-title text-center" >Benefits of apple</h4>
                <img style="width:100%; height:50%" src="https://i.ytimg.com/vi/PT9JqcS3VLs/maxresdefault.jpg" alt="Green Apple.png">
                <p class="small-text" style="padding:10px;">Posted 2 days ago</p>
                <p class="card-text" style="padding:10px;">
                  Eat Apple on Empty Stomach and this Will happen to your Body. 
                  The best home remedy to lose weight and to reduce belly fat fast is to eat 
                  apple on empty stomach. An apple a day keeps the doctor away.
                </p>  
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
                <img style="width:100%; height:100%" src="https://truffle-assets.imgix.net/4c0fcd46-birthday-ice-cream-cake_pc.jpg" alt="Ice-cream Cake">
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
                <img style="width:100%; height:50%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2maFLGhTSx5UPbd1HfFkgNmem3Fcd1g4foCw2lqaryzfY_Nrq" alt="Blackberry Fruit">
                <p class="small-text" style="padding:10px;">
                  Blackberry,  usually prickly fruit-bearing bush of the genus Rubus of the rose family (Rosaceae),known for its dark edible fruits.
                </p>
                <p class="card-text" style="padding:10px;">
                    The blackberry is an edible fruit produced by many species in the genus Rubus 
                    in the family Rosaceae.
                </p> 
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
                <div class="container">
                    <img src="https://jooinn.com/images/beautiful-sunset-view-2.jpg" alt="sunset view" style="width:100%;">
                    <div class="content">
                      <p>Beautiful Sunset View</p>
                    </div>
                  </div> 
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
                <img style="width:100%; height:50%" src="https://s7img.ftdi.com/is/image/ProvideCommerce/S3-4975D?$ftd-tile-wide-mv-old$" alt="Flowers">
              <p class="card-text" style="padding:10px;">Wedding Flowers can be an important part of your wedding decor, but it can also be difficult to pick out the right flowers, know which flowers work together, or know how to put it all together…</p>
                <hr>
              <p class="red text-center">View Update</p>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
                <img style="width:100%; height:50%" src="https://i.ytimg.com/vi/pVAqHvxz7ao/maxresdefault.jpg" alt="Moon Lights">
                <p class="card-text" style="padding:10px;">
                    The Moon is an astronomical body that orbits planet Earth and is Earth's 
                    only permanent natural satellite. It is the fifth-largest natural satellite 
                    in the Solar System, and the largest among planetary satellites.
                </p> 
                <hr>
                <p class="red text-center">View Update</p>
            </div>
          </div>

    </div>  
    
        
</div>