.header{
  background-color: aliceblue;
  height: 10%;
}

img{
  width: 500px;
  height: 200px;
  border-radius: 50%;
  left: 50%;
  display: block;
  margin: auto;
}

@media only screen and (max-width: 700px) {
  /* here comes the trick..this is the css, which would be applied to all 
   * the devices whose screen has a max-width of 400px..
   */
   img{
    width: 200px;
    height: 50px;
    border-radius: 50%;
    left: 50%;
    display: block;
    margin: auto;
   }
}

.topnav {
  background-color: gray;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
footer {
  background-color: gray;
  color:white;
}
.footer{
  background-color: #212121;
  height: 60px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  color: #aaa;
  text-align: center;
  
}