<!--The content below is only a placeholder and can be replaced.-->
<!--The content below is only a placeholder and can be replaced.--> 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="header">
  <h1>Simple Portfolio Website</h1>
  <img src="https://www.eduhub.ch/export/sites/default/images/SIG-e-Portfolio.png" alt="W3Schools.com"> 
</div>
  <div class="topnav">
      <a routerLink="portfolio"> Portfolio </a>
      <a routerLink="blog"> Blog </a>
      <a routerLink="about"> About </a>
      <a routerLink="contact"> Contact </a>
  </div>

  <router-outlet></router-outlet>
  
  <!-- Footer -->
<footer class="page-footer font-small blue pt-4">  
    <!-- Copyright -->
    <div class="text-center py-3">Simple Portfolio Website
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->