.bgcolor{
    background: aliceblue;
}
.center{
    width: 70%;
    display: block;
    margin: auto;
    background: aliceblue;
}
.box-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    position: relative;
    
  }
  
  a{
      color: red;
  }
  p{
    text-align: justify;
    text-justify: inter-word;
  }
  .gray-text{
      color: gray;
      
  }