<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="bgcolor">
    <div class="center box-container">
        <h2>Contact</h2>
        <img style="width:100%; height: auto;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2td96-8UO0T6s-tCzuApXsvv5TFnS_Vf6D3QxxQN3GRPC1u6T" alt="Contact Us">
        <div class="font-style">
        <p>We would love to hear your feedback and thoughts. If you have ideas, questions, or want 
          to share a picture with us of you and your favourite items, please contact us!
        </p>
        <form action="/action_page.php">
          <div class="form-group">
            <label for="name" class="col-sm-2 col-form-label">Name...</label>
            <input class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="email" class="col-sm-2 col-form-label">Email...</label>
            <input class="form-control" type="email">
          </div>
          <div class="form-group">
            <label for="comment" class="col-sm-2 col-form-label">Comment...</label>
            <textarea class="form-control" rows="4" ></textarea>
          </div>
          <button class="btn btn-primary" type="submit"> Submit</button>
        </form>
        </div>
        </div>
      </div>