.box-container {
    width:100%;
    border: 1px solid lightgray;
  }
  .center{
    width: 70%; 
    display: block;
    margin: auto;
}
.font-style{
  font-family: 'Times New Roman', Times, serif;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
}

.bgcolor{
    padding: 20px;
    background-color: aliceblue;
}