<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="bgcolor">
    <div class="center box-container">
        <h2>About</h2>
        <img style="width:100%; height: auto;" src="https://aseasyasapplepie.com/wp-content/uploads/2015/03/strawberry-tart-with-pastry-cream-2-480x270.jpg" alt="Alps">
        <div class="font-style">
        <h1>Introduction</h1>
        <p>The garden strawberry (or simply strawberry; Fragaria × ananassa)[1] is a widely grown 
          hybrid species of the genus Fragaria, collectively known as the strawberries. It is 
          cultivated worldwide for its fruit. The fruit is widely appreciated for its characteristic
           aroma, bright red color, juicy texture, and sweetness. It is consumed in large quantities, 
           either fresh or in such prepared foods as preserves, juice, pies, ice creams, milkshakes, 
           and chocolates. Artificial strawberry flavorings and aromas are also widely used in many 
           products like lip gloss, candy, hand sanitizers, perfume, and many others. </p>
        <h3>Domestic cultivation</h3>
        <p> 
            Strawberries are popular and rewarding plants to grow in the domestic environment, be it
             for consumption or exhibition purposes, almost anywhere in the world. The best time to 
             plant is in late summer or spring. Plant in full sun or dappled shade, and in somewhat 
             sandy soil. The addition of manure and a balanced fertilizer aids strong growth. 
             Alternatively they can be planted in pots or special planters using compost. 
             Fibre mats placed under each plant will protect fruits from touching the ground, 
             and will act as a weed barrier. 
        </p>
        <h3>Diseases</h3>
        <p>
            Strawberry plants can fall victim to a number of diseases, especially when subjected to 
            stress. The leaves may be infected by powdery mildew, leaf spot (caused by the 
            fungus Sphaerella fragariae), leaf blight (caused by the fungus Phomopsis obscurans), 
            and by a variety of slime molds. The crown and roots may fall victim to red stele, 
            verticillium wilt, black root rot, and nematodes. The fruits are subject to damage 
            from gray mold, rhizopus rot, and leather rot. To prevent root-rotting, strawberries 
            should be planted every four to five years in a new bed, at a different site.
        </p>
        </div>
        </div>
  </div>