<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="bgcolor">

    <div class="container">      
        <div class="row">
          <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
                <img style="width:100%; height: 50%" class="card-img-top" src="https://www.designerblogs.com/wp-content/uploads/2015/10/audrey-blogger-template.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Blog Template</h5>
                  <p class="card-text">Our Blogger templates are a great way to get a stunning blog design in a snap! Our huge selection of ready-to-install designs are simple, stylish, and affordable. </p>
                  <a href="https://www.designerblogs.com/blogger-templates/" class="btn btn-primary">Read More</a>
                </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
                <img style="width:100%; height: 50%" class="card-img-top" src="https://ae01.alicdn.com/kf/HTB1HQhnKXXXXXX2XpXXq6xXFXXXh/1Ct-Sightly-Ring-for-Girl-Certified-SONA-Synthetic-Diamonds-Rings-for-Women-Sterling-925-Silver-Luxury.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Diamond Ring</h5>
                  <p class="card-text">1Ct Sightly Ring for Girl Certified SONA Synthetic Diamonds Rings for Women Sterling 925 Silver Luxury Color Ring Wedding Ring</p>
                  <a href="https://www.aliexpress.com/item/1Ct-Sightly-Ring-for-Girl-Certified-SONA-Synthetic-Diamond-Rings-for-Women-Sterling-925-Silver-Platinum/1940841168.html" class="btn btn-primary">Read More</a>
                </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
                <img style="width:100%; height: 50%" class="card-img-top" src="https://cdn.shopify.com/s/files/1/0149/8032/products/main_photo_-_crystal_2048x2048.jpg?v=1509128083" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">iPhone X</h5>
                  <p class="card-text">An ultra slim, crystal clear case manufactured from the same impact resistant thermoplastic polymer used in bulletproof glass. </p>
                  <a href="https://www.caudabe.com/products/lucid-clear-iphone-x" class="btn btn-primary">Read More</a>
                </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
                <img style="width:100%; height: 50%" class="card-img-top" src="https://www.visitcalifornia.com/sites/default/files/styles/welcome_image/public/vc_homepage_spring2019_rm_596308782_1280x640.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">California</h5>
                  <p class="card-text">Follow a few sustainable travel tips to help make the most of these Golden State assets</p>
                  <a href="https://www.visitcalifornia.com/" class="btn btn-primary">Read More</a>
                </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
                <img style="width:100%; height: 50%" class="card-img-top" src="https://u.tfstatic.com/restaurant_photos/930/69930/169/612/kaizen-japanese-food-sugestao-do-chef-9ad45.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Japanese Food</h5>
                  <p class="card-text">Restaurant Kaizen Japanese Food menu </p>
                  <a href="https://www.thefork.com/restaurant/kaizen-japanese-food/69930" class="btn btn-primary">Read More</a>
                </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
                <img style="width:100%; height: 50%" class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQI1AvdvBJXvH_D2VNDv9ZjoOGBpuYnHgdcSF0M8Uc9ze8iFrTutA" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Sky Jump Sports</h5>
                  <p class="card-text">The free high-resolution photo of group, sky, jump, military, formation, extreme sport, parachute, falling, skydiving.</p>
                  <a href="https://pxhere.com/en/photo/749603" class="btn btn-primary">Read More</a>
                </div>
            </div>
          </div>
        </div>



    </div>    

    <!--

      <div class="center">
<div class="box-container">
  
<div class="card" style="width: 25rem;">
  
</div>

<div class="card" style="width: 25rem;">
    
  </div>

  <div class="card" style="width: 25rem;">
      
    </div>

    <div class="card" style="width: 25rem;">
        
      </div>

      <div class="card" style="width: 25rem;">
          
        </div>

        <div class="card" style="width: 25rem;">
            
          </div>
        </div>

      </div>
    -->
